/target/
/vendor/vosk/**/*
!/vendor/vosk/.gitkeep
/models/**/*
!/models/.gitkeep
*.tmp
.idea/
assistant/
/vendor/
/scripts/
run.sh
run.bat
*.exe
!/interview-assistant.exe
*.zip
*.tar.gz
*.log
*.deb
!/interview-assistant_1.0.1_amd64.deb
